<h3 class="text-center font-weight-bold mt-2" style="color:#516F7F!important">Dashboard</h3>
<hr>
<div class="modal" tabindex="-1" role="dialog" id="Mymodal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sharing My Registry to</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn sharedModal btn-primary" data-dismiss="modal"><span
            class="fas fa-share float-right">Share</span></button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-md-3">
      {{#if userPortfolio}}
      <div class="card">
        <img src="{{userPortfolio.photo}}" class="card-img-top">
        <div class="card-body text-center">
          <h5 class="card-title font-weight-bold" style="color:#516F7F!important">
            {{userPortfolio.firstName}} {{userPortfolio.lastName}}</h5>
          {{!-- <p class="card-text">A Web Development Guy</p> --}}
        </div>
      </div>
    </div>
    {{else}}
    {{/if}}
    <div class="col-md-5">
      <h5 class="text-center font-weight-bold" style="color:#516F7F!important">My Lists</h5>
      {{#each userRegistries}}
      <ul id = "dashList" class="list-group space-between">
        <li class="list-group-item">
          <form>
            <input type="hidden" name="_method" value="DELETE">
            <a class="d-flex justify-content-start " style="color:#516F7F!important"
              href="/api/listItems/{{id}}">{{ListName}}
            </a>
            <button class="deleteBtn fas fa-trash text-danger float-right space"
              data-listId="{{id}}">
            </button>
          </form>
          <button class="sharedBtn fas fa-share float-right mr-1 text-secondary bg-transparent space"
            data-listId="{{id}}">
          </button>
        </li>
      </ul>
      {{/each}}
      <div class="d-flex justify-content-center">
        <button id="newList" class="btn btn-primary submit btn-md mt-3 float-right" type="button"
          onclick="location.href='/create_list'">New Registry</button>
      </div>

    </div>
    <div class="col-md-4">
      <h5 class="text-center font-weight-bold mb-0" style="color:#516F7F!important">Friends' Shared Lists</h5>
      {{#if userPortfolio}}
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            {{#each userPortfolio.Shareds}}
            <li class="list-group-item border-0 text-center p-0">
              <a class="p-0" href="/client/list/{{ListId}}">List one</a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{else}}
      {{/if}}
    </div>
  </div>
</div>