<h3 class="text-center font-weight-bold mt-2" style="color:#516F7F!important">Dashboard</h3>
<hr>

<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-md-3">
      {{#if userPortfolio}}
      <div class="card">
        <img src="{{userPortfolio.photo}}" class="card-img-top">
        <div class="card-body text-center">
          <h5 class="card-title font-weight-bold" style="color:#516F7F!important">
            {{userPortfolio.firstName}} {{userPortfolio.lastName}}</h5>
          <p class="card-text">A Web Development Guy</p>
        </div>
      </div>
    </div>
    {{else}}
    {{/if}}
    <div class="col-md-5">
      <h5 class="text-center font-weight-bold" style="color:#516F7F!important">My Lists</h5>
      {{#each userRegistries}}
      <ul id="dashList" class="list-group space-between">
        <li class="list-group-item">
          <form action="/api/list/{{id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <a style="color:#516F7F!important" href="/api/listItems/{{id}}">{{ListName}}
            </a>
            <button class="fas fa-trash text-danger float-right space">
            </button>
          </form>
          <a class="fas fa-share float-right mr-1 text-secondary bg-transparent space" data-toggle="modal"
            data-target="#myModal" data-listid="{{id}}" data-listname="{{ListName}}"
            onclick=document.getElementById('ListId').value=event.target.dataset.listid;document.getElementById('ListName').value=event.target.dataset.listname>
          </a>
        </li>
      </ul>
      {{/each}}
      <div class="d-flex justify-content-center">
        <button id="newList" class="btn btn-primary submit btn-md mt-3 float-right" type="button"
          onclick="location.href='/create_list'">New Registry</button>
      </div>

    </div>
    <div class="col-md-4">
      <h5 class="text-center font-weight-bold mb-0" style="color:#516F7F!important">Friends' Shared Lists</h5>
      {{#if userPortfolio}}
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            {{#each userPortfolio.Shareds}}
            <li class="list-group-item border-0 text-center p-0">
              <a class="p-0 text-dark" href="/client/list/{{ListId}}">
                <i class="fas fa-gifts"></i> {{ListName}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{else}}
      {{/if}}
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sharing My Registry to:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="container">
        <form action="/api/users/email" method="POST">
          <label for="shareEmail">Email:</label>
          <input type="text" class="form-control" name="shareEmail" placeholder="Email Address">
          <input type="hidden" class="form-control" name="ListId" id="ListId">
          <input type="hidden" class="form-control" name="ListName" id="ListName">
          <button class="btn btn-primary btn-sm float-right my-2">
            <i class="fas fa-share"></i> Share
          </button>
        </form>
      </div>
    </div>
  </div>
</div>