{{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --}}
{{!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> --}}
<h3 class="text-center font-weight-bold mt-2" style="color:#516F7F!important">Dashboard</h3>
<hr>
<div class="modal" tabindex="-1" role="dialog" id="Mymodal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sharing My Registry to</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn sharedModal btn-success" data-dismiss="modal"><span class="fas fa-share float-right">Share</span></button>
          </div>
        </div>
      </div>
    </div>

<div class="row mb-5">
    <div class="col-md-3 mr-2">
        {{#if userPortfolio}}
        <div class="card">
            <img src="{{userPortfolio.photo}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-center font-weight-bold" style="color:#516F7F!important">
                    {{userPortfolio.firstName}} {{userPortfolio.lastName}}</h5>
                <p class="card-text">A guy with 2 babies</p>
            </div>
        </div>
        {{else}}
        {{/if}}
    </div>
    <div class="col-md-8 ">
        <h5 class="text-center font-weight-bold" style="color:#516F7F!important">Registry Lists</h5>
        {{#each userRegistries}}
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/dashboard">{{ListName}}</a>
                 {{!-- <a href="/shared_lists_single/{{id}}"> --}}
                    <button class="sharedBtn fas fa-share float-right  text-secondary"></button>
                {{!-- </a> --}}

                <a href="/user/edit/:id">
                    <i class="fas fa-trash float-right mr-2 text-danger"></i>
                </a>
                <a href="user/edit/:{{id}}">
                    <i class="fas fa-pencil-alt float-right mr-2 text-secondary"></i>
                </a>
            </li>
            {{!-- <li class="list-group-item">{{createdAt}}</li> --}}
        </ul>
        {{/each}}
        <button id = "newList" class="btn btn-success submit btn-lg" type="button" onclick="location.href='/create_list';">Create a New List</button>
    </div>



</div>

<script>

</script>