<h3 class="text-center font-weight-bold mt-2" style="color:#516F7F!important">Dashboard</h3>
<hr>

<div class="row mb-5">
    <div class="col-md-3 mr-2">
        {{#if userPortfolio}}
        <div class="card">
            <img src="{{userPortfolio.photo}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-center font-weight-bold" style="color:#516F7F!important">
                    {{userPortfolio.firstName}} {{userPortfolio.lastName}}</h5>
                <p class="card-text">A guy with 2 babies</p>
            </div>
        </div>
        {{else}}
        {{/if}}
    </div>
    <div class="col-md-8 ">
        <h5 class="text-center font-weight-bold" style="color:#516F7F!important">Registry Lists</h5>
        {{#each userRegistries}}
        <ul class="list-group">
            <li class="list-group-item">
                <a href="/api/listItems/{{id}}">{{ListName}}
                    <span>                
                        <a href="/user/delete/{{id}}">
                    <i class="fas fa-trash float-right text-danger"></i>
                        </a>
                    </span>
                </a>
                {{!-- <a href="/api/listItems/{{id}}">
                    <i class="fas fa-pencil-alt float-right mr-2 text-secondary"></i>
                </a> --}}
            </li>
        </ul>
        {{/each}}
    </div>
</div>