<h3 class="text-center font-weight-bold mt-2" style="color:#516F7F!important">Dashboard</h3>
<hr>

<div class="row mb-5">
  <div class="col-md-2">
    {{#if user}}
    <div class="card">
      <img src="{{user.photo}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title text-center font-weight-bold" style="color:#516F7F!important">
          {{user.firstName}} {{user.lastName}}</h5>
        <p class="card-text">A guy with 2 babies</p>
      </div>
    </div>
    {{else}}
    {{/if}}
  </div>
  <h1>{{list.id}}</h1>
  {{#if list}}
  <div class="col-md-7">
    <h5 class="text-center font-weight-bold" style="color:#516F7F!important">Add new registry item</h5>
    <form class="form-group" action="/api/listItems/{{listId}}" method="POST">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Gift name...">

      <label for="url">Gift URL</label>
      <input type="url" class="form-control" name="url" placeholder="Gift URL...">

      <label for="imgURL">imgURL</label>
      <input type="url" class="form-control" name="imgURL" placeholder="Gift imgURL...">

      <label for="price">Price</label>
      <input type="text" class="form-control" name="price" placeholder="Gift price...">

      <label for="notes">Notes</label>
      <textarea type="text" class="form-control" name="notes" placeholder="Gift Notes..."></textarea>
      <button class="btn btn-md btn-success mt-3 float-right"> <i class="fas fa-plus"></i> Add Item</button>
    </form>
  </div>
  {{/if}}
  <div class="col-md-3 ">
    <h5 class="text-center font-weight-bold" style="color:#516F7F!important">Registry Items</h5>
    {{#each list}}
    <ul class="list-group">
      <li class="list-group-item">
        <a href="{{dataValues.url}}" target="_blank">{{dataValues.title}}</a>
        <a href="/user/edit/:id">
          <i class="fas fa-trash float-right text-danger"></i>
        </a>
        <a href="/api/listItems/edit/{{id}}">
          <i class="fas fa-pencil-alt float-right mr-2 text-secondary"></i>
        </a>
      </li>
    </ul>
    {{/each}}
  </div>
</div>