<h3 class="text-center font-weight-bold mt-2" style="color:#516F7F!important">Dashboard</h3>
<hr>

<div class="row mb-5">
  <div class="col-md-2 mr-2">
    {{#if user}}
    <div class="card">
      <img src="{{user.photo}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title text-center font-weight-bold" style="color:#516F7F!important">
          {{user.firstName}} {{user.lastName}}</h5>
        <p class="card-text">A guy with 2 babies</p>
      </div>
    </div>
    {{else}}
    {{/if}}
  </div>
  <div class="col-md-7 ">
    <h5 class="text-center font-weight-bold" style="color:#516F7F!important">Registry Items</h5>
    {{#each list}}
    <ul class="list-group">
      <li class="list-group-item">
        <a href="{{dataValues.url}}" target="_blank">{{dataValues.title}}</a>
        <a href="/user/edit/:id">
          <i class="fas fa-trash float-right text-danger"></i>
        </a>
        <a href="/api/listItems/edit/{{id}}">
          <i class="fas fa-pencil-alt float-right mr-2 text-secondary"></i>
        </a>
      </li>
    </ul>
    {{/each}}
  </div>
</div>





